* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

h1 {
  color: #16479D;
  font-size: 2.1em;
  margin-bottom: 1em;
}

.bold {
  color: #16479D;
  font-weight: bold;
}